/* navToggle button  */

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    width: 40px;
    padding:5px 0 5px 5px;
    border: none;
    position: fixed;
    right:10px;
    z-index: 2;
    background:inherit;

}
.toggle-button span {
    border: 1px solid #fff;
    margin: 2px 0;
    width: 90%;
    background:#fff;
}
.toggle-button span:nth-child(2) {
    width: 70%;
    
}
.toggle-button span:nth-child(3) {
    width: 50%;
    
}

/* end of navToggle button  */


/* close nav toggle  */
.close-nav-btn {
    width: 40px;
    height:40px;
   border: none;
   position: absolute;
   top: 0;
   right: 0;
   font-size: 30px;
   background:inherit;
   color:#fff;

}
/* end of close nav toggle  */