@media only screen and (min-device-width: 200px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1)  {
.home-container {
    grid-template-columns: repeat(1, 1fr);
    padding:50px 10px 0 10px;
    height:100%;
}
.home-container article {
    font-size: 20px;
    
 }
 .home-container img {
     width: 100%;
     height:100vh;
     object-fit: contain;
 }
 .logo {
    position: absolute;
    top: 0;
    left:10px;
    font-size: 10px;
}

}

@media only screen and (min-device-width: 1001px) and (-webkit-min-device-pixel-ratio: 1) {
    .logo {
        position: absolute;
        top: 0;
        left:10px;
        font-size: 12px;
    }
    .home-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding:100px;
        height: 100vh;
        width: 100%;

    }
    .home-container article {
       font-size: 50px;
       display:flex;
       justify-content:center;
       align-items:center;
    }
    .home-container img {
        width: 100%;
        height:400px;
        object-fit: contain;
    }
}