
/* home */
.home {
    width: 100%;
    background-color: red;
}
.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
}
.intro article {
    background-color: blanchedalmond;
    padding: 100px;
}
.bobby {
    background-image: url('../assets/images/bobby.jpg');
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bobby-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
}

